@import url('./global.css');

header {
    background-color: var(--surface-color);
    height: 80px;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
}

button {
    background: none;
    cursor: pointer;
}

header>img {
    width: 162px;
    height: 32px;
}

header>nav {
    width: 325px;
    height: 40px;
    background-color: var(--surface-color);
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.nav-text {
    color: var(--text-color-secundary);
    font-size: 16px;
    line-height: 150%;
}

#main {
    
    background-color: var(--surface-color);
    /* width: 1280px; */
    height: 240px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

#description {
    width: 592px;
    height: 176px;
    display: flex;
    gap: 32px;
}

#description-text {
    width: 384px;
    height: 168px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#description-text>h1 {
    width: 384px;
    height: 40px;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color-primary);
    margin-bottom: 8px;
    line-height: 125%;
}

#description-text>p {
    width: 384px;
    height: 120px;
    font-size: 14px;
    line-height: 170%;
    text-align: left;
    color: var(--text-color-secundary);
}

#info-description {
    width: 280px;
    height: 104px;
    display: flex;
    gap: 16px;
    /* border: 2px solid black; */
}

#location {
    height: 24px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 16px;
}
#location>p {
    color: var(--text-color-secundary);
    font-size: 14px;
    line-height: 170%;
}

#countries {
    height: 24px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 16px;
}

#countries>p {
    color: var(--text-color-secundary);
    font-size: 14px;
    line-height: 170%;
}

#photos {
    height: 24px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 16px;
}

#photos>p {
    color: var(--text-color-secundary);
    font-size: 14px;
    line-height: 170%;
}

